<div
  style="
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10%;
    margin: 2em;
    max-width: 20em;
  "
>
  <figure>
    <img
      [src]="cv.image"
      alt="{{ cv.nom }}"
      style="max-width: 100%; max-height: 100%; object-fit: contain"
    />
    <figcaption>{{ cv.nom }}</figcaption>
  </figure>
  <div style="display: flex; flex-direction: column; padding-left: 3em">
    <h3>
      {{ cv.age }} <br />
      {{ cv.poste }}
    </h3>
  </div>
</div>
