<h1>Candidats:</h1>
<div style="display: flex; flex-direction: row">
  <div *ngFor="let cv of cvs">
    <app-cv-card [cv]="cv"></app-cv-card>
    <button (click)="invokeHire(cv)">Embaucher</button>
    <button [routerLink]="['/cv-detail', cv.id]">View Details</button>
  </div>
</div>

<h1>Hired:</h1>
<div style="display: flex; flex-direction: row">
  <div *ngFor="let cv of hiredEmployees">
    <app-cv-card [cv]="cv"></app-cv-card>
    <button [routerLink]="['/cv-detail', cv.id]">View Details</button>
  </div>
</div>

<div style="margin-bottom: 4em"></div>
